/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* Postscript */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}

mark {
  background-color: #ffea00;
}

button,
input[type=submit] {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  background-color: #f1f1f2;
  line-height: 1.6;
}

.main {
  /* margin: 90px auto; */
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
}
h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.7;
}
.description {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.main_vis {
  background-color: #f8f8f8;
  width: 100%;
}
.main_image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.detail_lists li {
  display: table;
  margin-bottom: 10px;
}
.detail_lists li:last-child {
  margin-bottom: 0;
}
.wrp_detail_lists {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.detail_lists_body {
  display: inline-block;
  border: 2px solid lightblue;
  border-radius: 2px;
  padding: 30px;
}
.detail_lists_body {
  line-height: 1;
}
.detail_lists {
   display: inline-block;
   padding: 10px 30px;
   text-align: left;
   vertical-align: bottom;
}
.detail_lists .detail_th,
.detail_lists .detail_td {
  display: table-cell;
  line-height: 1.5;
}
.detail_lists .detail_th {
  font-weight: bold;
  width: 7em;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 13px;
  border-bottom: 1px solid #222;
  margin-bottom: 40px;
}
.box {
  margin-top: 90px;
}
.box_lists {
  margin-left: 1em;
  list-style: disc;
}
.box .seminar_desc {
   line-height: 1.7;
}
.box .seminar_desc p {
  margin-top: 20px;
}
.box .instructor_info {
  position: relative;
  display: table;  
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.box .instructor_info:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  height: 1px;
  background-color: lightblue;
}
.box .instructor_info .pic,
.box .instructor_info .name {
  display: table-cell;
}
.box .instructor_info .pic {
  width: 200px;
  padding-right: 20px;
}
.box .instructor_info .pic img {
  height: 180px;
  object-fit: cover;
  object-position: 10% 10%; 
  width: 100%;
}
.box .instructor_info .pic img.member2 {
  object-fit: cover;
  object-position: top;
}
.box .instructor_info .name {
  font-weight: bold;
  font-size: 18px;
}
.box .instructor_info .name span {
  display: block;
  font-weight: normal;
  font-size: 16px;
}
.box .instructor_block {
  min-height: 600px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  padding: 20px;
}
.box .instructor_desc {
  margin-top: 25px;
  line-height: 1.7;
}

/* スマホ　*/
@media screen and (max-width: 736px) {
  body, html {
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
  }
  .wrp_detail_lists {
    margin-top: 50px;
  }
  .main {
    width: 100%;
    padding: 20px;
  }
  .main_image {
    height: 200px;
  }
  .detail_lists_body {
    padding: 15px;
    display: block;
  }
  .detail_lists {
    padding: 10px;
    display: block;
  }
  .detail_lists li {
    display: block;
  }
  .detail_lists .detail_th, .detail_lists .detail_td {
    display: block;
  }
  .box {
    margin-top: 50px;
  }
  h2 {
    margin-bottom: 30px;
  }
  .box .instructor_info {
    display: block;
    padding-bottom: 20px;
  }
  .box .instructor_info .pic,
  .box .instructor_info .name {
    display: block;
  }
  .box .instructor_info .pic {
    margin: 0 auto 20px;
    padding-right: 0;
  }
  .box .instructor_block {
    padding: 20px 10px;
  }
  .box .instructor_desc {
    margin-top: 15px;
  }
  .box .instructor_info .name {
    font-size: 16px;
  }
  .box .instructor_info .name span {
    font-size: 14px;
  }
  .box .instructor_info:after {
    width: 30%;
  }
}

.freebirdFormviewerViewFormCard.exportFormCard {
  box-shadow: none !important;
}